.intaractive__avatar {
  width: 80px;
  height: 80px;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.intaractive__avatar--active {
  border: 6px solid #0f5a47;
}

.intaractive__avatar-link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.intaractive__avatar-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.reviews__switcher-item {
  border-radius: 50%;
}
.reviews__switcher-item--active .intaractive__avatar-img {
  border: 4px solid #0f5a47;
}